.header__logo {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    z-index: 901;

    a {
        display: flex;
        padding: 10px;
        margin: 10px;

        em {
            width: 50px;
            height: 50px;
            margin-right: 1vw;
            position: relative;
            animation: logo 5s 10s ease-in-out infinite;

            @keyframes logo {
                0% {
                    transform: scale(0);
                    opacity: 0;
                }

                10% {
                    transform: scale(100%);
                    opacity: 1;
                }

                12% {
                    transform: scale(95%);
                    opacity: 1;
                }

                14% {
                    transform: scale(100%);
                    opacity: 1;
                }

                90% {
                    transform: scale(100%);
                    opacity: 1;
                }

                100% {
                    transform: scale(0);
                    opacity: 0;
                }
            }

            svg {
                fill: var(--red);
                position: absolute;
                left: 4px;
                top: 2px;
                width: 50px;
                height: 50px;
            }
        }

        i {
            font-size: 1rem;
            padding: 1px 2px;
            background-color: var(--red);
        }

        span {
            font-size: 20px;
            line-height: 1;
            margin-left: 10px;
            font-weight: 900;
            font-size: 24px;
            font-family: "NetflixSans";
        }

    }
}

.header__menu {
    padding: 0 10px;

    .menu {
        border-bottom: 1px solid rgba(255, 255, 255, .15);

        li {

            // margin-bottom: 5px;
            a {
                font-size: 1rem;
                display: block;
                line-height: 1;
                color: var(--white);
                padding: 1rem 2rem 1rem 2.5rem;
                border-radius: 5px;
                position: relative;
                transition: all 0.2s;
                border: 1px solid transparent;


                &:hover {
                    background-color: var(--red);
                    border: 1px solid rgba(0, 0, 0, .15);
                }

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    position: absolute;
                    left: 0.5rem;
                    top: 0.85rem;
                }
            }

            &.active {
                a {
                    background-color: var(--red);
                }
            }
        }
    }
}

.keyword {
    padding: 16px 10px;

    li {
        font-size: 1rem;
        display: inline-block;
        padding: 0.2rem 1em;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid transparent;
        border-radius: 1rem;
        background-color: #333333;

        &:hover {
            background-color: var(--red);
            border: 1px solid rgba(0, 0, 0, .15);
        }

        &.active {
            background-color: var(--red);
            border: 1px solid rgba(0, 0, 0, .15);
        }

        a {}
    }
}

.header__sns {
    border-top: 1px solid rgba(255, 255, 255, .15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0 10px;
    background-color: var(--black);

    ul {
        li {
            display: inline-block;
            padding: 5px 7px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media(max-width: 800px) {
    .header__logo {
        padding-top: 84px;

        a {
            position: fixed;
            left: 0;
            top: -5px;
            width: 239px;

            // span {
            //     display: none;
            // }
        }
    }
}