.search__inner {
    width: 100%;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    z-index: 900;

    label {
        display: none;
    }

    .search__inner__input {
        display: flex;
        align-items: center;
        width: 80%;
        height: 50px;
        background-color: rgba(0, 0, 0, .15);
        // padding: 15px 20px;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, .15);
        box-sizing: border-box;

        .search__Input {
            width: 90%;
            padding-left: 20px;
            height: inherit;
            background-color: rgba(0, 0, 0, 0);
            color: var(--white);
            font-weight: 700;
            box-sizing: border-box;
        }

        input:focus {
            outline: 0;
        }

        .search__btn {
            width: 10%;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--black100);
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border: 1px solid transparent;
            // border: 1px solid rgba(255,255,255,.15);
            cursor: pointer;

            &:hover {}

            svg {
                fill: var(--white500);
                cursor: pointer;
            }
        }
    }
}

@media(max-width:800px) {
    .search__inner {
        padding: 17px 17px 17px 270px;
        position: fixed;
        top: 0;
    }

    .search__inner .search__inner__input {
        width: 90%;
    }

    .search__inner .search__inner__input .search__btn {
        display: none;
    }
}