.swiper-button-prev,
.swiper-button-next {
    top: var(--swiper-navigation-top-offset, 50%);
    width: 2rem !important;
    height: 2rem !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1rem !important;
    color: var(--red);
}