.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    min-height: 100vh;

    @media(max-width: 1280px) {
        grid-template-columns: repeat(3, 32%);
    }

    @media(max-width: 1000px) {
        grid-template-columns: repeat(2, 48%);
    }

    @media(max-width: 600px) {
        grid-template-columns: repeat(1, 98%);
    }

    .video {
        margin-bottom: 50px;
        border: 1px solid rgba(255, 255, 255, .05);

        .video__thumb {
            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%; // 16:9 비율
                background-size: cover;
                background-position: center;
            }
        }

        .video__info {
            h3 {
                padding: 0 10px;
                margin-bottom: 10px;
                font-size: 1rem;
                font-weight: 800;
                @include line-two;
            }

            .desc {
                padding: 0 10px;
                margin-bottom: 5px;
                font-size: 0.8rem;
                color: var(--white500);
                @include line-two;
            }

            .info {
                padding: 0 10px;
                margin-bottom: 5px;
                font-size: 0.8rem;
                color: var(--white500);
                font-weight: 700;
                display: flex;
                justify-content: space-between;

                span {
                    margin-right: 10px;
                }
            }
        }
    }
}

// 비디오 상세페이지
#VideoPage {

    // padding: 0;
    .video__view {
        .video__play {
            position: relative;
            padding-bottom: 56.25%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .video__info {
            .video__title {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .video__channel {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;

                .id {
                    font-weight: 800;

                    a {
                        background-color: rgba(255, 255, 255, .03);
                        padding: 10px 20px;
                        border-radius: 30px;
                    }
                }

                .count {
                    display: flex;

                    span {
                        background-color: rgba(255, 255, 255, .03);
                        padding: 10px 20px;
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }

                        svg {
                            margin-right: 10px;
                        }

                        span {}
                    }
                }
            }

            .video__desc {
                padding: 20px;
                background-color: rgba(255, 255, 255, .03);
                white-space: pre-line;
                margin-bottom: 20px;
            }

            .comment {
                ul {
                    li {
                        background-color: rgba(255, 255, 255, .03);
                        padding: 10px 20px;
                        margin-bottom: 10px;

                        h3 {
                            font-size: 0.8rem;
                            font-weight: 800;
                        }

                        span {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

#searchPage {
    .video__more {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: center;

        button {
            font-size: 0.8rem;
            cursor: pointer;
            padding: 0.5vw 1vw;
            border-radius: 0.5vw;
            color: var(--white);
            background-color: #333;

            &:hover {
                background-color: var(--red);
            }
        }
    }
}